.content {
    width: 1024px;
    margin: 0 auto;
    font-size: 24px;    
    background-color: rgb(235, 235, 235);
}

.main-header-footer {
    text-align: center;
    color:wheat;
    background-color: rgb(37, 37, 37);
}

.contacts {
    display: flex;
    margin: 30px;
}

.text-info {
    width: 70%;
    
    color: rgb(37, 37, 37);
}

.photo {
    background-color: white;
    width: auto;
}

.main-content {
    text-align: justify;
    margin: 30px;
}